.footer {
  width: 100%;
  color: rgb(12, 11, 11);
  padding: 20px;
  display: flex;
  justify-content: flex-start;

}

/* Contact Us section styles */
.contact-us {
  background-color: white;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;

}

.contact-us h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-us p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-us a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}